node_modules/
.git/
.gitignore
Dockerfile*
.dockerignore
*.log*
.env*
coverage/
htmlcov/
.pytest_cache/
__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/
*.md
!README.md
.mypy_cache/
.ruff_cache/
tests/
docs/
.github/
